<hr>

<div class="row">
  <div class="col-md-7">
    <p>Copyright &copy; Sheffield Teaching Hospitals <%= Time.now.year %></p>
  </div>
  
  <div class="col-md-5">
    <% link_to "http://www.sth.nhs.uk/" do %>
      <%= image_tag "sheffield-teaching-hospitals.gif" %>
    <% end %>
  </div>
</div>