<ul class="nav navbar-stacked">
    <li class="active">
      <%= link_to "Home", "/index.html" %>
    </li>
    <li>
      <%= link_to "About us", "/about.html" %>
    </li>
    <li>
      <%= link_to "Gallery", "/gallery.html" %>
    </li>
    <li>
      <%= link_to "Contact us", "/contact.html" %>
    </li>
</ul>