---
title: Sunshine Day Nursery - About
---
<div class="page-header">
  <h1>About us</h1>
</div>
<p class="lead">Leading Paragraph about Sunshine. Lorem ipsum dolor sit amet, mei ut omnes tation, te est lorem quidam utroque.</p>
<p>Each Sunshine Day Nursery provides a professional childcare service which is registered with OFSTED.</p>
<h3>Sunshine Day Nursery @ Northern General Hospital</h3>
<p>The Northern General Hospital nursery has places for 114 children each day aged between four months and five years old. It is situated by the Rivermead Training Centre and comprises of 2 Buildings:</p>
<ul>
	<li>The Daleside Building takes children from four months to 3 years (approx) in three groups (Orange, Green and Red Room). The Management Team are also based in this building.</li>
	<li>The Rother Building takes children up to school entry age from 36 months onwards who are split into two age groups; three to four years (Blue Room) and four years to school entry (Pre-School). The Childcare Services Manager is also based in this building.</li>
</ul>
<p>The Northern General Nursery can be contacted on:</p>
<ul class="list list-unstyled">
  <li>Nursery Manager - 0114 2266050</li>
  <li>Nursery - 0114 2266066 / 0114 2266067</li>
  <li>Childcare Services Manager – 0114 2714254</li>
</ul>

<h3>Sunshine Day Nursery @ Central Campus</h3>
<p>The Central Campus Nursery is situated at 10 Beech Hill Road and has places for 142 children per day aged between 4 months and School age split into 8 groups as below (all age ranges are approximate and may vary).</p>
<ul>
	<li>Daisies 1 &amp; 2 and Sunbells 1 &amp; 2 takes children from 4months to 2 Years.</li>
  <li>Buttercups, Daffodils take children between 2 to 3 years.</li>
  <li>Poppies &amp; Rising 5’s take children aged 4 to school entry.</li>
</ul>
<p>The Central Campus Nursery can be contacted on:</p>
<ul class="list list-unstyled">
  <li>Nursery Manager - 0114 2268848</li>
  <li>Nursery - 0114 2268847</li>
</ul>
<hr>

<%= partial "partials/blocks" %>